html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: -apple-system, Oswald, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;

    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-links {
        @apply relative after:content-[''] after:w-full after:h-[2px] after:scale-x-0 after:bg-primary-pink after:absolute after:-bottom-1 after:left-0 after:origin-center after:duration-75 after:ease-in-out after:transition-all hover:after:scale-x-100 hover:text-primary-pink;
    }
}
